.topbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    
}
.button{
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
}
.button:hover{
    transition: ease-in;
    background-color: gray;
    border-radius: 20px;
}
@media screen and (max-width:568px){
    .topbuttons{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 5px;
        margin-right: 5px;
    }
    .button{
        border: none;
        background-color: transparent;
        color: white;
        padding: 5px;
        font-size: 1rem;
    }
}