.App {
  color: white;
  padding-top: 30px;
  padding-right: 5rem ;
  padding-left: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.cool{
  background: linear-gradient(to bottom right, cyan,#002a6e);
}
.hot{
  background: linear-gradient(to bottom right, #D97706,#C2410C);
}
